<div class="footer black-50 w-90 center tc-l mw9 wow fadeIn" data-wow-delay="0.4s">
  <ul class="w-100 w-auto-l dib mv0 pb4 pt5 pt6-ns pb5-ns pl0 list f5">

    <li class="fl w-50 w-33-ns w-auto-l pr5 ph4-l">
      <a class="no-underline color-inherit color-animate dim pv3 db" href="http://twitter.com/brodymaclean" target="_blank">Twitter</a>
    </li>

    <li class="fl w-50 w-33-ns w-auto-l pr5 ph4-l">
      <a class="no-underline color-inherit color-animate dim pv3 db" href="http://github.com/brody" target="_blank">GitHub</a>
    </li>

    <li class="fl w-50 w-33-ns w-auto-l pr5 ph4-l">
      <a class="no-underline color-inherit color-animate dim pv3 db" href="http://dribbble.com/brodymaclean" target="_blank">Dribbble</a>
    </li>

    <li class="fl w-50 w-33-ns w-auto-l pr5 ph4-l">
      <a class="no-underline color-inherit color-animate dim pv3 db" href="http://linkedin.com/in/brodymaclean" target="_blank">LinkedIn</a>
    </li>

    <li class="fl w-50 w-33-ns w-auto-l pr5 ph4-l">
      <a class="no-underline color-inherit color-animate dim pv3 db" href="mailto:hello@brody.com" target="_blank">Email</a>
    </li>

  </ul>

</div>

<div style="position: fixed; bottom: 0; right: 0; margin: 8px;"><a href="https://www.youtube.com/watch?v=2KVJ2vm_fyw" class="dn db-ns link light-gray dim">&pi;</a></div>
