<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="Brody MacLean is a Product Designer based in Sydney.">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"> -->

  <link rel="icon" href="/assets/images/favicon.ico" sizes="32x32" type="img/png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">

  <link rel="me" href="https://twitter.com/BrodyMaclean">
  <link rel="canonical" href="http://brody.com/">

  <meta property="og:site_name" content="Brody Maclean. Product Designer." />
  <meta property="og:url" content="http://brody.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Brody MacLean. Product Designer." />
  <meta property="og:description" content="" />

  <meta property="og:image" content="" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="">

  <meta name="twitter:site" content="@BrodyMaclean">
  <meta name="twitter:creator" content="@BrodyMaclean">
  <meta name="twitter:title" content="Brody MacLean. Product Designer.">
  <meta name="twitter:description" content="">

  <link rel="icon" href="assets/images/favicon.ico" sizes="32x32" type="img/png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/apple-touch-icon-152x152.png">

  <!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css" /> -->
  <link rel="stylesheet" href="{{ 'css/tachyons.min.css' | relative_url }}">
  <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}">

  <!-- <link rel="stylesheet" href="https://raw.github.com/daneden/animate.css/master/animate.css"> -->

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"> -->

  <!-- <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8"> -->

</head>
