<nav class="black-50 fixed w-100 pv0-ns bg-white-97 top-0 left-0 z-5 headroom">
  <div class="dt w-90 mw9 center cont">
    <div class="dtc v-mid w-20">
      <a class="dib mid-gray link tl pv3 pl1 pv3-ns ph3-ns pb2-ns f3 nerd-link" href="/" title="Home">
          <div class="nerd">

          </div>
          <!-- 🤓<img src="assets/images/nerd.png" alt="Brody Maclean" class="nerd fl"> -->
      </a>
    </div>
    <div class="dtc v-mid w-80 tr">
      <a class="link dim color-inherit f5 dib ph2 ph3-m ph3-l pv3 pv4-l" href="#journal" title="Journal">Journal</a>
      <a class="link dim color-inherit f5 dib ph2 ph3-m ph3-l pv3 pv4-l" href="#projects" title="Projects">Projects</a>
      <a class="link dim color-inherit f5 dib-l🎧 ph2 ph3-ns ph3-l ph2 pv3 pv4-l dn" href="#" title="Mixtapes">Mixtapes</a>
      <a class="link dim color-inherit f5 dib ph2 ph3-m ph3-l pv3 pv4-l" href="#" title="About">About</a>
    </div>
  </div>
</nav>


<!-- <div id="header">
    <span class='big'>{{ site.title }}</span>
    <span class='small'>{{ site.subtitle }}</span>
  </div>


  <div id="nav">
  {% for item in site.nav %}
    {% if item.href contains 'http' %}
       <a href="{{ item.href }}">{{ item.title }}</a>
    {% else %}
       <a href="{{ item.href | relative_url }}">{{ item.title }}</a>
    {% endif %}
    {% if forloop.last %}  {% else %} • {% endif %}
  {% endfor %}
  </div> -->
