{% for post in site.categories.journal %}
      {% if post.url == page.url %}
          {% assign post_index0 = forloop.index0 %}
          {% assign post_index1 = forloop.index %}
      {% endif %}
  {% endfor %}
  {% for post in site.categories.journal %}
      {% if post_index0 == forloop.index %}
          {% assign next_post = post.url %}
      {% endif %}
      {% if post_index1 == forloop.index0 %}
          {% assign prev_post = post.url %}
          {% assign prev_title = post.title %}
          {% assign prev_description = post.description %}
      {% endif %}
  {% endfor %}
  {% if next_post %}

  {% endif %}
  {% if prev_post %}

      <section class="next-post lh-copy">

        <a href="{{prev_post}}">
          <h3>Next post</h3>
          <h1>{{prev_title}}</h1>
          <p>{{prev_description}}</p>
        </a>


      </section>

  {% endif %}
