// nav {
//   &.bg-whitish {
//     background-color: rgba(#fff, .98);
//   }
//   a.navbar-brand {
//     .brandimg {
//       height: 24px;
//       width: 24px;
//       background: url("https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/114/nerd-face_1f913.png") no-repeat center center;
//       background-size: cover;
//     }
//
//     &:hover {
//       .brandimg {
//         background: url("https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/114/thinking-face_1f914.png") no-repeat center center;
//         height: 24px;
//         width: 24px;
//         background-size: cover;
//       }
//     }
//     @include breakpoint($md) {
//       .brandimg {
//         height: 32px;
//         width: 32px;
//         background: url("https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/114/nerd-face_1f913.png") no-repeat center center;
//         background-size: cover;
//       }
//       &:hover {
//         .brandimg {
//           background: url("https://emojipedia-us.s3.amazonaws.com/thumbs/240/apple/114/thinking-face_1f914.png") no-repeat center center;
//           height: 32px;
//           width: 32px;
//           background-size: cover;
//         }
//       }
//     }
//   }
//
//   a {
//     color: rgba(0,0,0,.5);
//
//     &:hover {
//       color: rgba(0,0,0,.3);
//       text-decoration: none;
//     }
//   }
// }
//
// body {
//   margin-top: 56px;
//   @include breakpoint($md) {
//     margin-top: 72px;
//   }
// }

nav {
  // padding: 8px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  pointer-events: none;

  a#logo {
    z-index: 999;
    border: 0;
    position: fixed;
    padding: 16px;
    pointer-events: all;

    svg {
      height: 40px;
      width: 40px;
    }

    &:hover {
      border: 0;

      svg {}
    }
  }

  .hamburger {
    z-index: 999;
    padding: 16px;
    pointer-events: all;

    .hamburger__inner {
      position: absolute;
      width: 18px;
      height: 2px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: $white;
      content: "";
      display: block;

      &:after,
      &:before {
        position: absolute;
        width: 18px;
        height: 2px;
        transition-timing-function: ease;
        transition-duration: 0.15s;
        transition-property: transform;
        border-radius: 4px;
        background-color: $white;
        content: "";
        display: block;
      }

      &:after {
        bottom: -6px;
      }

      &:before {
        top: -6px;
      }
    }

    .hamburger__bg {
      // background-color: $grey;
      // border-radius: 50%;
      height: 40px;
      width: 40px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
    }

      &:active,
      &:hover {
        cursor: pointer;

        .hamburger__bg {
          background-color: $primary;
        }

    }

    &.is-open {
      .hamburger__inner {
        transition-delay: 0.12s;
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: rotate(45deg);

        &:after {
          bottom: 0;
          transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) 0.12s;
          transform: rotate(-90deg);
        }

        &:before {
          top: 0;
          transition: top 75ms ease,opacity 75ms ease 0.12s;
          opacity: 0;
        }
      }
    }
  }
  @include breakpoint($md) {
    .hamburger,
    a#logo {
      padding: 32px 40px 32px;
    }
  }
  @include breakpoint($lg) {
    .hamburger,
    a#logo {
      // padding: 48px 56px 8px;
    }
  }
}

#menu {
  width: 265px;
  transform: translate3d(320px, 0, 0);
  -moz-transform: translate3d(320px, 0, 0);
  -webkit-transform: translate3d(320px, 0, 0);
  transition-property: all;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1);
  -webkit-transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  -moz-transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  -o-transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  transition-timing-function: cubic-bezier(0.155, 0.605, 0.18, 1.055);
  padding: 80px 20px 24px;
  z-index: 98;

  h1 {
    margin: 0;
  }

  h2 {
    font-weight: 400;
    margin: 0;
  }

  ul {
    margin: 24px 0 32px;

    li {
      margin: 0;
      padding: 0;

      a {
        svg {
          float: left;
          margin-right: 16px;
        }
        padding: 8px 0;
        display: block;
        border-width: 0;
        font-size: 18px;
        line-height: 24px;

      }
    }
  }

  ul#site-menu a {
    font-size: 20px;
    line-height: 32px;
  }

  &.is-open {
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
  }
  @include breakpoint($md) {
    padding: 104px 32px 32px;
    width: 300px;
  }
}

.keyboard-shortcut {
  background-color: rgba($grey-light,.2);
  padding: 0 6px;
  margin-left: 10px;
  border-radius: 4px;
  color: rgba($grey-dark,.8);
  font-size: 14px;
  line-height: 22px;
font-weight: 500;
border: 1px solid rgba($grey-dark,.2);
}


@media screen and (max-width: 50em) {

#menu ul li a:hover:before, #nightMode:hover:before {
  display: none;
}

}

@media screen and (orientation:landscape) and (min-device-width: 319px) and (max-device-width: 480px) {
  #menu {
    padding: 20px 20px 40px;
    -webkit-overflow-scrolling: touch;

  }

  .dn-sh {
    display: none;
  }

  .db-sh {
    display: block;
  }

}
