// $xs: ( max: 575px );
$sm: ( min: 30em ); // 480
$ns: ( min: 30em );
$md: ( min: 45em ); // 720
$lg: ( min: 60em ); // 960
$xl: ( min: 75em ); // 1200
$xxl: ( min: 90em ); // 1440
$sm-only: ( min: map-get($sm, min), max: map-get($md, min) - 1 );
// $iphonex-landscape: ( min: map-get((min: 812px), min), max: map-get((min: 813px), min) - 1 );
$md-only: ( min: map-get($md, min), max: map-get($lg, min) - 1 );
@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
     @content;
  }
}

// Color

$white: #FFF;
$black: #000;
$grey-lightest: #F8F7FA;
$grey-lighter: #EBEBFF;
$grey-light: #CECCD9;
$grey: #908CA3;
$grey-dark: #6A667D;
$grey-darker: #454257;
$grey-darkest: #252230;

$primary: #9058B0;

$primary-pale: #E9DEEF;
$primary-shade: #9884A3;

$yellow: #F08804;
$yellow-pale: #F2EAAE;
$yellow-shade: #47463B;
