// @import "reset";
@import "syntax";
// body {
//     background: #fff;
// }
//
// a {
//   color: #5968EB;
// }
// Mixin Breakpoints - https://medium.com/developing-with-sass/refactoring-my-simple-sass-breakpoint-mixin-71205dd6badd
$xs: (
  max: 639px
); // < 640px
$sm: (
  min: 40em
); // => 640px
$smd: (
  min: 47em
); // => 752px
$md: (
  min: 52em
); // => 832px
$lg: (
  min: 64em
); // => 1024px
$sm-only: (
  min: map-get($sm, min),
  max: map-get($md, min) - 1
);
$smd-only: (
  min: map-get($smd, min),
  max: map-get($md, min) - 1
);
$md-only: (
  min: map-get($md, min),
  max: map-get($lg, min) - 1
);
@mixin breakpoint($map) {
  $query: "";
  @if map-has-key($map, min) {
    $query: append($query, "(min-width: #{map-get($map, min)})");
  }
  @if map-has-key($map, min) and map-has-key($map, max) {
    $query: append($query, "and");
  }
  @if map-has-key($map, max) {
    $query: append($query, "(max-width: #{map-get($map, max)})");
  }
  @media screen and #{$query} {
    @content;
  }
}
// variables
$highlighter: #F8EC54;
// $black: #323435;
// $grey: #454B52;
// $bg: #F9FAFC;
// $yellow: #F8EC54;
// $blue: #0000F1;
// extend tachyons

.bg-white-97 {
  background-color: hsla(0,0%,100%,.97);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.nerd-link {
  .nerd {
    background-image: url("/assets/images/nerd.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 28px;
    width: 28px;
  }
  &:hover .nerd {
    background-image: url("/assets/images/thinking.png");
  }
}

.post {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    color: rgba(0,0,0,.8); //.black-90
  }
}

.post p a,
a.highlighter {
  color: rgba(0,0,0,.8); //.black-90
  -webkit-transition: color 0.15s ease-in; //.link
  transition: color 0.15s ease-in; //.link
  text-decoration: none; //.link
  position: relative;

  &::before {
    position: absolute;
    top: 56%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 -.1em;
    padding: 0 0.1em;
    background: $highlighter;
    transition: all 0.2s ease-in-out;
    content: "";
    z-index: -1;
  }

  &:hover {
    color: black;

    &::before {
      top: 0;
      // background: #F8EC54;
      opacity: 0.9;
    }
  }
}

.cont {
  /* iOS 11 */
  padding-left: constant(safe-area-inset-left);
  padding-right: constant(safe-area-inset-right);
  /* iOS 11.2+ */
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.scroll-wrap {
  -webkit-overflow-scrolling: touch;
  // padding-bottom: 10px;
  // margin-bottom: -10px;
  // overflow-x: scroll;
  // display: block;
  // cursor: move;
  // width: 100%;
  // white-space: nowrap;
}
// .nerd {
//   height: 24px;
// }

.journal,
.projects {
  .categories {
    li {
      &::after {
        content: " / ";
        opacity: 0.25;
        margin: 0 2px;
      }

      &:last-child::after {
        content: "";
      }
    }
  }

  .more {
    .more-cont {
      padding-bottom: 168%;
      // @media screen and (min-width: 30em)
      // {
      //   padding-bottom: 169%;
      // }
    }
  }
}

#journal {
  // .aspect-ratio--16x9, .more-cont {
  //   background-position: center;
  //   background-size: cover;
  // }
}

twitterwidget {
  margin: auto;
}
// Headroom

.headroom {
  will-change: transform;
  transition: transform 0.25s linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

iframe {
  width: 100%;
  margin: 1rem 0 1.25rem;
}
@media screen and (min-width: 60em) {
  iframe {
    width: calc(100% + 4rem);
    margin: 1.5rem -2rem 1.75em;
  }
}
